/*-- scss:defaults --*/
$body-bg: #080808;
$body-color: #d7e3e7;
$headings-color: #b5ded8;
$link-color: #80c9dd;
$primary: #73c6b8;
$secondary: #a6b8c0;
$border-color: #303030;
$code-color: #a8dcd3;
$code-bg: #202020;
$code-block-bg: #101010;
$input-bg: #151515;
$popover-bg: #151515;
$nav-tabs-link-active-bg: #151515;
$nav-tabs-link-active-color: #b5ded8;
$nav-tabs-link-active-border-color: #303030;
$mermaid-node-bg-color: #151515;
